#Post_Button{
    height: 100;
    width: 100;
    border-radius: 33%
}
#Assignment{
    background-image: linear-gradient(to right,#ff0000,#FFFFFF,#0000ff);
    text-align: center;
    font-size: 50px;
}
div.Cover-ups{
    height: 50px;
    width: 50px;
    background-color: black;
    border: none;
    position: absolute;
    left: 10;
    top: 15;
}